/*
page 1- sign-in page
page 2- create your account page
*/

/* this body will be used for all signing up pages including:signin,creating an account and logining in*/



#signing-up_body {
    background-color: rgb(11, 1, 32);
    height:100%;
    width:100%; 
    margin:0px;
}





/* page 1- sign-in page  */



.menu_navbar ul{
    list-style-type: none;
    background-color:rgb(11, 1, 32) ;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}

.menu_navbar a:hover{
    background-color: #3e8e41;
}
.menu_navbar li{
    float:left;
}


.menu_navbar_right {
    float: right;
}

#lance_nav_logo{
    height: 70px;
    width: 70px;
}

.menu_navbar a{
    color: white;
    text-decoration:none ;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 17px;
    width: 60px;
}    

#h1_sign-in_main{
    color: white;
    text-align: center;
    font-size:90;
    left:50%;
    top: 50px;
}
.sign-in_container_main{
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
    justify-content: center;
    

}
.p_sign-in_main{
    color: white;
}
button{
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    border: solid 4px rgb(0, 204, 255);
    background-color: rgb(11, 1, 32);
    transition-duration: 0.4s;
    position: relative;
    margin:15px;

} 

button:hover{
    background-color:rgb(0, 204, 255) ;
    color: rgb(11, 1, 32);
}

.button_sign-in-group{
    margin:0 auto;
    display:block;
}

.button_sign-in{
    display: flex;
    place-content: center;
}


#button_login{
    width: 90%;
}


/* page 2- Create your account */

.create_account_container_main_outside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    position: relative;
    background-color:rgb(6, 1, 19);
    
}
.create_account_container_main_inside{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60%;
    width: 70%;
    background-color:rgb(11, 1, 32);
    border-style:solid;
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
}

.create_account_container_main_inside_form_left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position:absolute;
    top:28%;
    padding-left: 6%;
    gap: 10%;
}
#create_account_lance_logo{
    height: 70px;
    width:70px;
    position: relative;
    top:7%;
    left:3%;




}

#create_account_header_main_inside{
    color:white;
    font-size: 400%;
}

#create_account_paragraph_main_inside{
    font-size: 60%;
}

.create_account_container_main_inside_form{
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:1500px) {
    .create_account_container_main_inside_form_input{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        flex-direction: row;
        top:68%;
        }

        #LB_username_create_your_account_form{
            color:white;
            font-size: 175%;
        }


        #input_username_Create_your_account_form[type=text]{
            padding:6px 10px;
        }

        #LB_Email_create_your_account_form{
            color:white;
            font-size: 175%;
        }
        
        #input_Email_Create_your_account_form[type=text]{
            padding:6px 10px;
        }

        #LB_password_create_your_account_form{
            color:white;
            font-size: 175%;
        }
        
        #input_password_Create_your_account_form[type=password]{
            padding:6px 10px;
        }
}


@media(min-width:1500px) {
.create_account_container_main_inside_form_input{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    right:28%;
    }

    
    #LB_username_create_your_account_form{
        color:white;
        font-size: 175%;
    }


    #input_username_Create_your_account_form[type=text]{
        padding:12px 20px;
    }

    #LB_Email_create_your_account_form{
        color:white;
        font-size: 175%;
    }
    
    #input_Email_Create_your_account_form[type=text]{
        padding:12px 20px;
    }

    #LB_password_create_your_account_form{
        color:white;
        font-size: 175%;
    }
    
    #input_password_Create_your_account_form[type=password]{
        padding:12px 20px;
    }
}

.create_your_account_form_box{
    display: flex;
    flex-wrap: wrap;
}





#input_username_Create_your_account_form[type=text]:focus{
    border: 3px solid rgb(0, 204, 255);
}



#input_Email_Create_your_account_form[type=text]:focus {
    border: 3px solid rgb(0, 204, 255);
  }






#input_password_Create_your_account_form[type=password]:focus {
    border: 3px solid rgb(0, 204, 255);
  }

#submit_password_Create_your_account_form{
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    border: solid 4px rgb(0, 204, 255);
    background-color: rgb(11, 1, 32);
    transition-duration: 0.4s;
    position: relative;
    margin:15px;

}
#submit_password_Create_your_account_form:hover{
    background-color:rgb(0, 204, 255) ;
    color: rgb(11, 1, 32);
}