.main{
    height: 100%;
    width: 100%;
    margin:0px;
    background-color: #0b0120;
    color:white
}


.menu_navbar ul{
    list-style-type: none;
    background-color:#0b0120 ;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}

.menu_navbar a:hover{
    background-color: #3e8e41;
}
.menu_navbar li{
    float:left;
}


.menu_navbar_right {
    float: right;
}

#lance_nav_logo{
    height: 70px;
    width: 70px;
}

.menu_navbar a{
    color: white;
    text-decoration:none ;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 17px;
    width: 60px;
}    

.profile_meta{
    display: flex;
    width:80%;
    height:200px;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #160f26;
    border-radius: 25px;
}

.upload_image_button:hover{
    color: rgba(255, 255, 255, 50);
}
.profile_border{
    margin-left:3rem;
    margin-top: 2rem;
}


.username h2{
    margin-top: 0;
    font-size:medium;
}

.username{
    margin-left: 2rem;
    margin-top:1rem;
    
}

.username h1{
    margin-bottom: 0;
}


.profile_border:hover{
    display: flex;
    border-width: 4px !important;
    border-style:solid !important;
    border: white;
    height: 110px;
    width:110px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile_image {
    width: 106.7px;
    height: 106.7px;
    object-fit: cover; 
    border-radius: 50%;
}