.background{
    height: 100%;
    width: 100%;
    margin:0px;
    background-color: #0b0120;
    color:white
}


.menu_navbar ul{
    list-style-type: none;
    background-color:#0b0120 ;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}

.menu_navbar a:hover{
    background-color: #3e8e41;
}
.menu_navbar li{
    float:left;
}


.menu_navbar_right {
    float: right;
}

#lance_nav_logo{
    height: 70px;
    width: 70px;
}

.menu_navbar a{
    color: white;
    text-decoration:none ;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 17px;
    width: 60px;
}    

.search_container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.search_bar {
    max-width:50rem;
    width:100%;
    background:rgb(255, 255, 255);
    align-items: center;
    display: flex;
    border-radius: 25px;
    padding: 10px 16px;
    margin-top: 2rem;
    border:10px;
}
.search_bar input[type=text]{
    outline: none;
    border: none;
    flex:1;
    padding:10px 16px;
    font-size: 20px;
    color:rgb(105, 102, 102)

}    
.search_bar button img{
    width:80%;
    
}

.search_bar button{
    border: 0;
    border-radius: 10px;
    width:60px;
    height: 60px;
    background-color:#b8b8b8;
    cursor:pointer;
}