<head>
    <title>Lance profile {{ username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/NEA Lance profile.css') }}">
    <script src="{{ url_for('static', filename='js/Profile Lance.js') }}"></script>

</head>
<body class="main">
    <nav class="menu_navbar">
        <ul>
            <li><img id="lance_nav_logo" src="{{ url_for('static', filename='images/Lance Logo.png') }}"></li>
            <li><a href="{{url_for('Lance')}}">LANCE</a></li>
            <li><a href="">Topics</a></li>
            <li><a href="">support</a></li>
            <li><a href="">settings</a></li>


            <ul class="menu_navbar_right">
                {%if username %}
                <li><a>Hello, {{ username }}</a></li>
                <li><a href="logout" onclick="logout()">Logout</a></li>


                {%else%}
                <li><a href="{{url_for('Login')}}">sign in</a></li>
                <li><a href="{{url_for('welcome')}}">sign up</a></li>
                {% endif %}
            </ul>
    </nav>

    <div class="profile_meta">
        <div class="profile_border">
            <div class="profile_section">
                {% if image_path %}
                <a href="{{url_for('image_upload')}}" class="upload_image_button"><img src="{{ url_for('static', filename='uploads/' + image_path) }}" alt="Profile Image" class="profile_image"></a>
                {% else %}
                <a href="{{url_for('image_upload')}}" class="upload_image_button"><img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default Profile Image" class="profile_image"></a>
                {% endif %}

                

            </div>
        </div>
        <div class="Username">
            <h1>{{username}}</h1>
            <h2>@{{username}}</h2>

        </div>
    </div>
    <div class="profile_content">


        
    </div>
</body>