<html>
<head>
    <title>sign in - Lance accounts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/NEA Lance.css') }}">
</head>

<body id="signing-up_body">


    <nav class="menu_navbar">
        <ul>
            <li><img id="lance_nav_logo" src="{{ url_for('static', filename='images/Lance Logo.png') }}">></li>
            <li><a href="">LANCE</a></li>
            <li><a href="">Topics</a></li>
            <li><a href="">support</a></li>
            <li><a href="">settings</a></li>


            <div class="menu_navbar_right">

                <li><a href="">sign in</a></li>
                <li><a href="">sign up</a></li>
                </ul>
            </div>
    </nav>
    <div class="sign-in_container_main">
        <div>

            <h1 id="h1_sign-in_main">
                </span>Let's get you started </span>
            </h1>
            
            <div role="group" class="button_sign-in">


                <a href=>
                <button id="button_register">Register</button>
                </a>


                <a href="./Login - Lance accounts.html">
                    <button id="button_login">Login</button>
                </a>

            </div>

        </div>
    </div>


</body>